.circle {
    border-radius: 50%;
    transition: all 0.3s ease-in-out;
  }
  
  .star {
    clip-path: polygon(
      50% 0%,
      61.8% 38.2%,
      100% 49.5%,
      76.4% 76.4%,
      88.6% 100%,
      50% 88.6%,
      11.4% 100%,
      23.6% 76.4%,
      0% 49.5%,
      38.2% 38.2%
    );
    transition: all 0.3s ease-in-out;
  }